services:
  mongo-tonimijo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb_data:/data/db
      - mongodb_search_indexes:/data/mongot

volumes:
  mongodb_data:
  mongodb_search_indexes: